.btn.btn-primary.multi-select {
  background: $white;
  color: $blue;
}
.btn.btn-primary.multi-select.focus {
  box-shadow: none;
}
.btn.btn-primary.multi-select.active {
  background: $blue;
  color: $white;
}