.btn.btn-primary.multi-select {
  background: white;
  color: #007bff;
}
.btn.btn-primary.multi-select.focus {
  box-shadow: none;
}
.btn.btn-primary.multi-select.active {
  background: #007bff;
  color: white;
}