.card.calendar-card {
  width: 5rem;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow-y: hidden;

  &.small {
    width: 3rem !important;
    height: 3.5rem !important;
    min-height: 2.5rem !important;
    box-shadow: none;
    font-size: 0.8em;

    & > .card-header {
      padding-top: 1px;
      padding-bottom: 1px;
    }
    & > .card-body {
      font-size: 1.5em;
      padding: 0;
    }
  }
  & > .card-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  & > .card-body {
    font-size: 1.9em;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
