.list-group a {
  color: $black;

  &:hover {
    text-decoration: none;
  }
}

.list-group-item.meeting-item {
  cursor: pointer;
  box-shadow: none;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    & .calendar-card {
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &:active {
    box-shadow: none;
    opacity: 0.8;

    & .calendar-card {
      box-shadow: none;
    }
  }
}
