.list-group a {
  color: $black;

  &:hover {
    text-decoration: none;
  }
}

.list-group-item.meeting-item {
  cursor: pointer;
  box-shadow: none;
  border-left-color: rgba($black,.1);
  border-right-color: rgba($black,.1);
  border-top-color: rgba($black,.1);
  border-bottom-color: rgba($black,.1);

  &:hover {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);

    & .calendar-card {
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &:active {
    box-shadow: none;
    border-left-color: rgba($black,.1);
    border-right-color: rgba($black,.1);
    border-top-color: rgba($black,.1);
    border-bottom-color: rgba($black,.1);

    & .calendar-card {
      box-shadow: none;
    }
  }
}