.nav-tabs {
  .nav-link {
    font-size: 1.5em;
    background: transparent;
    color: $gray-700;
  }
  .nav-link:hover {
    color: $gray-600;
  }
  .nav-link.active {
    background: transparent;
  }
}
