.add-btn {
  width: 15rem;
}

.member-group-item {
  border: 1px solid $black;
  border-radius: 5px 5px 5px 5px !important;
  max-height: 5rem;
}

.form-card {
  max-width: 30rem;
}

.member-debt {
  margin-right: 0.5px;
}

.number-field {
  border-width: 3px;
  outline: none;
  &:focus {
    box-shadow: none;
    border-color: $secondary;
  }
  &.positive {
    border-color: $green;
  }
  &.negative {
    border-color: $red;
  }
}
